# Terraform
**/.terraform/
terraform/terraform.tfvars
terraform/dashboard/terraform.tfvars
**/*.tfstate
**/*.tfstate.backup
**/crash.log

# Python
app/__pycache__/
app/*.pyc

# Editor/OS
.vscode/
.DS_Store
